In [1]:
# Q!>
""".A for loop is a type of loop that runs for a preset number of times. It also has the ability to iterate over the items
# of any sequence, such as a list or a string. lets see if in the program we want to print a number 1 to 1 lakh so its noy
#compatabile to print 1 to 1 lakh so onbehalf of this we use loop"""

# ex
names = ["Bill Gates", "Billie Eilish", "Mark Zuckerberg", "Hussain"]
namesWithB = [name for name in names if "B" in name]
print(namesWithB)

#With the while loop, we can execute a block of code as long as a condition is true.

n = 0
while n < 10: # while n is less than 10,
    print(n) # print out the value of n 
    n += 1

['Bill Gates', 'Billie Eilish']
0
1
2
3
4
5
6
7
8
9

In [2]:
# question2:
# using for loop:
# sum of all the 10 natural number
sum =0
for i in range(1,11):

   sum= sum +i
print("the sum of first 10 natural numbers is using for loop:",sum)
#using for loop multiply of 10 natural number
multiply = 1
for i in range(1,11):
    
  
    multiply = multiply*i
print("the multiply first 10 natural numbers is using for loop:",multiply)

the sum of first 10 natural numbers is using for loop: 55
the multiply first 10 natural numbers is using for loop: 3628800

In [3]:
# # question2:
# # using while loop:
num =10
sum = 0
while num >= 0:
   sum+=num
   num=num-1
   
print("the sum of first 10 natural numbers is using while loop:",sum)

num1 =10
multiply = 1
while num1 >= 1:
   multiply*=num1
   num1=num1-1
   
print("the sum of first 10 natural numbers is using while loop:",multiply)

the sum of first 10 natural numbers is using while loop: 55
the sum of first 10 natural numbers is using while loop: 3628800

In [6]:
# Question:4
# using for loop
cubes = []
for i in range (1,100): 
   calculate = i*i*i
   if calculate %3 ==0 or calculate % 5== 0: 
    cubes.append(i)
print(cubes)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]

In [7]:
# Qustion :5


string = "i want to become a data scientist"
count = 0
i = 0
for i in range (len(string)):
   if (string[i] =="a") or (string[i]=="e") or (string[i]=="i") or (string[i]=="o")or (string[i]=="u"):
      count+=1
print("Numbers of vowels in string = ", count)

Numbers of vowels in string =  12

In [9]:
#Question 6
units = int(input("enter units consumed :"))
if units<=100:
    print(4.5*units)
            
if units >100 and units<200:
    first = 4.5 * 100
    print(first + second)
            
if units >200 and units <= 300:
    first = 4.5* 100
    second= (units-100)*6
    print(first + second )
            
if units>300:
    first =  4.5 * 100 + 6*100 + 10*100
    second = (units-300) * 20 
    print(first + second)

enter units consumed : 310

2250.0